/*
* Common
*/

*,
:after,
:before {
  font-family: Arial, Helvetica, sans-serif;
  font-feature-settings: "kern", "liga", "clig", "calt";
  box-sizing: border-box !important;
}

.min-w-0 {
  min-width: 0 !important;
}

.pl-100 {
  padding-left: 100px !important;
}

a {
  background-color: transparent;
  transition: all 0.5s ease 0s;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}

.menu,
.menu > .v-toolbar__content {
  height: auto !important;
}

.headers .header-wrap .top-header--wrap .top-header {
  height: 6.25rem;
  background-color: hsla(0deg, 0%, 100%, 0.05);
}

.app-nav-list {
  white-space: nowrap;
  padding: 0;
}

.app-nav-list > li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.app-nav-list > li a {
  text-decoration: none;
}

.app-nav-list > li > a {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 64px;
  padding: 0 15px;
  display: inline-block;
  position: relative;
  color: #fff;
}

.app-nav-list > li > a:after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  border-bottom: 5px solid #ff5572;
  transition: all 0.3s ease;
}

.app-nav-list > li > a:hover:after {
  width: 100%;
}

.app-nav-list > li .sub-menu {
  list-style: none;
  position: absolute;
  width: 245px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in 0s;
  background: #fff;
  z-index: 99;
  padding-left: 0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2) 0 2px 2px 0 rgba(0, 0, 0, 0.14) 0 1px 5px rgba(0, 0, 0, 0.12);
}

.app-nav-list > li .sub-menu li {
  display: block;
  line-height: normal;
  position: relative;
}

.app-nav-list > li .sub-menu li a {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  color: #3a405b;
  text-align: left;
  line-height: normal;
  font-size: 0.9rem;
  padding: 0.625rem 1.25rem;
  white-space: nowrap;
}

.app-nav-list > li .sub-menu li a:hover {
  background-color: #f3f3f4;
}

.app-nav-list > li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.fixedHeader {
  transition: 0.4s ease-in-out 0s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity linear 0.5s;
  visibility: hidden;
  z-index: 9;
}

.menu__active {
  opacity: 1;
  visibility: visible;
  top: 0px;
}

.v-menu__content {
  margin-top: 10px;
}

.nav__menu-icon {
  display: none;
}

.nav__menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  -webkit-animation: fadeIn 0.2s linear;
          animation: fadeIn 0.2s linear;
  display: none;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-image: url(/images/bg-sidebar.jpg?6fe4a92b0cab0e440d7d32989c28f4f1);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  background-color: #424242;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav__menu-close {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  min-width: 0;
}

/*
* About Page
*/

.about__header {
  background-image: url(/images/page-title-bar.jpg?6a9b0b06e617f946606a3e878f8915d6);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 7rem 0;
  text-align: center;
}

.about__header .about__header-title {
  line-height: 1.4;
  font-size: 3.25rem;
  text-transform: capitalize;
}

.about__header .about__header-body {
  font-size: 1.28rem;
  font-weight: 400;
}

.about__content .section__gap {
  padding: 5rem 0;
}

.about__content .section__gap .section__gap-body {
  padding: 15px;
}

.about__content .section__gap .section__gap-body .section__gap-title h2 {
  line-height: 1.1;
  font-size: 3.2rem;
}

.about__content .section__gap .section__gap-body .section__gap-title h3 {
  line-height: 1.4;
  font-size: 1.5rem;
}

.about__content .section__gap .section__gap-body .section__gap-title p {
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.blue-grey.lighten-5 {
  background-color: #eceff1 !important;
  border-color: #eceff1 !important;
}

.about__slick {
  background-image: url(/images/about-bg.jpg?b3a0b71c1082f7d816d738e6baf7f1b4);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.about__slick .about__slick-slide {
  font-feature-settings: "kern", "liga", "clig", "calt";
  color: #fff;
  max-width: 500px;
}

.about__slick .about__slick-slide .about__slick-title {
  font-size: 32px;
  line-height: 1.5;
  margin-bottom: 1em;
}

@media only screen and (min-width: 1264px) {
  .container {
    max-width: 1450px !important;
  }
}

@media only screen and (max-width: 64em) {
  .top-header .top-header--logo .v-image__image {
    width: 100px !important;
  }

  .top-header--logo .v-responsive__content {
    width: 100px !important;
  }

  .headers .header-wrap .top-header--wrap .top-header--notification > div,
  .headers .header-wrap .top-header--wrap .top-header--notification > div .v-btn--fab.v-size--small,
  .headers .header-wrap .top-header--wrap .top-header--notification > div .v-btn .v-avatar {
    width: 32px !important;
    height: 32px !important;
    min-width: 32px !important;
  }

  .headers .header-wrap .top-header--wrap .top-header--notification > div .v-btn .menu__icon {
    width: 20px !important;
    height: 20px !important;
  }

  .about__content .section__gap .section__gap-body .section__gap-title h2 {
    line-height: 1.1;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 46.1875em) {
  .menu-alignment {
    display: none;
  }

  #nav__menu-sp:checked ~ .nav__menu-overlay {
    display: block;
  }

  #nav__menu-sp:checked ~ .nav__menu {
    opacity: 1;
    transform: translateX(0%);
  }

  .nav__menu-icon {
    display: inline-block;
    cursor: pointer;
  }
}

@media only screen and (max-width: 48em) {
  .fixedHeader .menu-alignment {
    display: none;
  }

  .fixedHeader .nav__menu-icon {
    display: inline-block;
    cursor: pointer;
  }
}

