*,
:after,
:before {
  box-sizing: border-box !important;
}

.min-w-0 {
  min-width: 0 !important;
}

.pl-100 {
  padding-left: 100px !important;
}

a {
  background-color: transparent;
  transition: all 0.5s ease 0s;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}

.menu,
.menu > .v-toolbar__content {
  height: auto !important;
}

.headers .header-wrap .top-header--wrap .top-header {
  height: 6.25rem;
  background-color: hsla(0deg, 0%, 100%, 0.05);
}

.app-nav-list {
  white-space: nowrap;
  padding: 0;
}

.app-nav-list > li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}

.app-nav-list > li a {
  text-decoration: none;
}

.app-nav-list > li > a {
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 64px;
  padding: 0 15px;
  display: inline-block;
  position: relative;
  color: #fff;
}

.app-nav-list > li > a:after {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 5px;
  border-bottom: 5px solid #ff5572;
  transition: all 0.3s ease;
}

.app-nav-list > li > a:hover:after {
  width: 100%;
}

.app-nav-list > li .sub-menu {
  list-style: none;
  position: absolute;
  width: 245px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in 0s;
  background: #fff;
  z-index: 99;
  padding-left: 0;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2) 0 2px 2px 0 rgba(0, 0, 0, 0.14) 0 1px 5px rgba(0, 0, 0, 0.12);
}

.app-nav-list > li .sub-menu li {
  display: block;
  line-height: normal;
  position: relative;
}

.app-nav-list > li .sub-menu li a {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  color: #3a405b;
  text-align: left;
  line-height: normal;
  font-size: 0.9rem;
  padding: 0.625rem 1.25rem;
  white-space: nowrap;
}

.app-nav-list > li .sub-menu li a:hover {
  background-color: #f3f3f4;
}

.app-nav-list > li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}

.fixedHeader {
  transition: 0.4s ease-in-out 0s;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.v-menu__content {
  margin-top: 10px;
}

.nav__menu-icon {
  display: none;
}

.nav__menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9;
  display: none;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  background-image: url(/images/bg-sidebar.jpg?6fe4a92b0cab0e440d7d32989c28f4f1);
  background-repeat: no-repeat;
  background-position: 100% 0;
  background-size: cover;
  background-color: #424242;
  display: none;
}

.nav__menu-close {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  min-width: 0;
}

@media only screen and (max-width: 64em) {
  .top-header .top-header--logo .v-image__image {
    width: 140px;
  }

  .top-header--logo .v-responsive__content {
    width: 140px;
  }

  .headers .header-wrap .top-header--wrap .top-header--notification > div,
  .headers .header-wrap .top-header--wrap .top-header--notification > div .v-btn--fab.v-size--small,
  .headers .header-wrap .top-header--wrap .top-header--notification > div .v-btn .v-avatar {
    width: 32px !important;
    height: 32px !important;
    min-width: 32px !important;
  }

  .headers .header-wrap .top-header--wrap .top-header--notification > div .v-btn .menu__icon {
    width: 20px !important;
    height: 20px !important;
  }
}

@media only screen and (max-width: 46.1875em) {
  .menu-alignment {
    display: none;
  }

  #nav__menu-sp:checked ~ .nav__menu-overlay {
    display: block;
  }

  #nav__menu-sp:checked ~ .nav__menu {
    display: block;
  }

  .nav__menu-icon {
    display: inline-block;
    cursor: pointer;
  }
}

