.header-wrap .top-header-wrap .top-header .layout{
    padding-top:0 !important;
    padding-bottom: 0 !important;
}
.header-wrap .bottom-header{
    height: auto !important;
}

.active{
    background-color: #ff5722 !important;
}